name: Build

on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
          contents: write

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup bun
              uses: oven-sh/setup-bun@v1
              with:
                  bun-version: latest

            - name: Install dependencies
              run: bun install

            - name: Install node adapter
              run: bun install @sveltejs/adapter-node

            - name: Copy svelte.config.js
              run: cp -f ./.github/source/svelte.config.js ./svelte.config.js
            
            - name: Build
              run: bun run build

            - name: Zip builded application
              run: zip -r build.zip ./package.json ./build

            - name: Package version
              id: pkg
              run: echo "version=$(bun --eval 'console.log(require(`./package.json`).version)')" >> $GITHUB_OUTPUT

            - name: Create Release
              id: create_release
              uses: comnoco/create-release-action@v2
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                tag_name: "v${{steps.pkg.outputs.version}}-${{github.run_id}}"
                release_name: v${{steps.pkg.outputs.version}} - ${{github.run_id}}
                draft: false
                prerelease: false
            
            - name: Upload builded application
              id: upload_builded_app
              uses: actions/upload-release-asset@v1
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                upload_url: ${{ steps.create_release.outputs.upload_url }}
                asset_path: ./build.zip
                asset_name: build.zip
                asset_content_type: application/zip

            - name: Request deploy
              run: bun ./.github/script/deploy.ts --internal-key ${{ secrets.INTERNAL_API_KEY }} --tag "v${{steps.pkg.outputs.version}} - ${{github.run_id}}"